html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#b1 {
  width: 100%;
  height: 100%;
  margin: auto;
  background: url(bg.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
}

#s1 {
  background: url(career-bg.jpg) no-repeat 50% 50%;
}
#s2 {
  background: url(hobbie-bg.jpg) no-repeat 50% 50%;
}
#s3 {
  background: url(social-bg.jpg) no-repeat 50% 50%;
}

#s1, #s2, #s3 {
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  display: table;
  background-size: cover;
}

#b1 .in1 {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

#s1 .div-sec , #s2 .div-sec , #s3 .div-sec {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}

.content {
  color: white;
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.content h1 {
  font-size: 350%;
}

.content p {
  font-size: 150%;
  margin: 50px 0;
  text-shadow: 2px 2px #000;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

spam {
  text-transform: lowercase;
  font-weight: 800;
}

.sections-list a {
  text-decoration: none;
}

.sections-list li {
  display: inline-block;
  font-size: 24px;
}

.div-sec {
  color: white;
  text-align: right;
  margin: auto;
  padding: 0 40px;
}

.div-sec .main-btn, .div-sec .sec-btn {
  text-shadow: 3px 3px #000;
  box-shadow: 3px 3px #000;
  text-transform: uppercase;
  border-radius: 7px;
  color: #f9f3f4;
  text-decoration: none;
  font-family: 'Centaury Ghotic', sans-serif;
  border: 4px solid;
  font-size: 150%;
  padding: 7px 13px;
  font-weight: 700;
  float: right;
  clear: both;
}

.div-sec .main-btn {
  font-size: 300%;
}

.section2 {
  float: right;
  width: 30%;
  font-size: 125%;
  clear:both;
  padding: 25px 0 12% 0;
}
